// Site Skin Color
$site_primary_color: #ff589e;
$site_secondary_color: #8261ee;
$site_secondary_color_disabled: rgba(130,97,238, .7);

// Typography Settings
$body_font_family: Arial, Helvetica, sans-serif;
$body_font_weight: 400;
$body_font_size: 16px;
$body_font_line_height: 24px;
$body_font_color: #000000;

$nav_font_family: Akshar;
$nav_font_weight: 400;
$nav_font_size: 20px;
$nav_font_color: #000000;
$nav_menu_border_clr: rgba(0,0,0, .2);

$h1_font_family: Arial, Helvetica, sans-serif;
$h1_font_weight: initial;
$h1_font_size: 24px;
$h1_font_line_height: 34px;
$h1_font_color: #000000;

$h2_font_family: Arial, Helvetica, sans-serif;
$h2_font_weight: 400;
$h2_font_size: 20px;
$h2_font_line_height: 28px;
$h2_font_color: #000000;

$h3_font_family: Arial, Helvetica, sans-serif;
$h3_font_weight: 400;
$h3_font_size: 18px;
$h3_font_line_height: 25px;
$h3_font_color: #000000;

$h4_font_family: Arial, Helvetica, sans-serif;
$h4_font_weight: 400;
$h4_font_size: 15px;
$h4_font_line_height: 24px;
$h4_font_color: #000000;

$h5_font_family: Arial, Helvetica, sans-serif;
$h5_font_weight: 400;
$h5_font_size: 13px;
$h5_font_line_height: 18px;
$h5_font_color: #000000;

$h6_font_family: Arial, Helvetica, sans-serif;
$h6_font_weight: 400;
$h6_font_size: 11px;
$h6_font_line_height: 15px;
$h6_font_color: #000000;

// Main Header Settings
$topbar_bg_clr: transparent;
$topbar_txt_clr: #878787;
$header_bg_clr: #FFFFFF;
$header_txt_clr: #000000;
$header_split_border: rgba(0,0,0, .2);
$submenu_bg_clr: #FFFFFF;
$header_logo_height_val: 50px;
$sticky_logo_height_val: 50px;
$sticky_header_bg_clr: #FFFFFF;
$sticky_header_txt_clr: #0C0C0C;
$sticky_header_split_border: rgba(12,12,12, .2);
$footer_bg_clr: #151B2E;
$footer_widget_title_clr: #FFFFFF;
$footer_txt_clr: #787D8B;
$footer_bottom_bg_clr: #0E1222;
$footer_bottom_txt_clr: #FFFFFF;
$footer_split_border: rgba(120,125,139, .2);
$mobile_enable_width: 1076px;