/*****************************************************************/
/*
/*** Blog/Post Scss file Compile
/*
/*****************************************************************/

.lordcros-blog-wrapper {
	&.post-layout-1,
	&.post-layout-2 {
		article.blog-post-item .blog-post-item-inner .post-content {
			.post-meta-description {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				flex-wrap: wrap;

				> div {
					display: inline-flex;
					align-items: center;
					margin-bottom: 15px;

					i {
						font-size: 17px;
						margin-right: 10px;
					}

					&.author-info {
						margin-right: 25px;
					}

					a {
						color: $body_font_color;
						text-transform: capitalize;
						text-decoration: none;

						&:hover { color: $site_primary_color; }
					}
				}
			}

			.post-summary {
				font-size: 15px;
				font-weight: normal;
				line-height: 24px;
				margin-bottom: 15px;

				.summary-content {
					margin-bottom: 0;
				}
			}

			.post-read-more a {
				display: inline-flex;
				align-items: center;
				font-size: 15px;
				font-weight: 500;
				line-height: 24px;
				color: $site_secondary_color;
				text-decoration: none;

				i {
					font-size: 11px;
					margin-left: 10px;
					transition: all 0.25s ease;
				}

				&:hover {
					opacity: .7;

					i { transform: translateX(7px); }
				}
			}
		}
	}

	&.post-layout-2,
	&.post-layout-3 {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;

		&[data-col="2"] > article.blog-post-item {
			flex: 1 1 50%;
			max-width: 50%;
		}

		&[data-col="3"] > article.blog-post-item {
			flex: 1 1 33.333%;
			max-width: 33.333%;
		}

		&[data-col="4"] > article.blog-post-item {
			flex: 1 1 25%;
			max-width: 25%;
		}
	}

	&.post-layout-1 {
		article.blog-post-item {
			position: relative;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			padding-bottom: 30px;
			margin-bottom: 30px;

			.blog-post-item-outer {
				flex: 0 0 auto;

				.post-date {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					font-family: $h3_font_family;
					color: #fff;
					background-color: $site_primary_color;
					padding: 5px;
					width: 68px; height: 68px;
					border-radius: 2px;

					.year {
						font-size: 20px;
						font-weight: bold;
						line-height: 28px;
					}

					.month {
						font-size: 17px;
						font-weight: normal;
						line-height: 25px;
					}
				}

				.social-share-buttons {
					.lordcros-social-button {
						width: 68px; height: 68px;
						margin-top: 11px;

						&.facebook-icon a { 
							color: #2d427c;

							&:hover { border-color: #2d427c; }
						}

						&.twitter-icon a { 
							color: #4d6fcd; 

							&:hover { border-color: #4d6fcd; }
						}

						&.google-icon a { 
							color: #eb230f; 

							&:hover { border-color: #eb230f; }
						}

						a {
							display: flex;
							align-items: center;
							justify-content: center;
							height: 100%;
							border: 1px solid #e4e4e4;
							border-radius: 2px;
							padding: 5px;
							text-decoration: none;
						}
					}
				}
			}

			.blog-post-item-inner {
				min-width: 0;
				flex: 1 1 auto;
				padding-left: 30px;

				.post-featured-image {
					margin-bottom: 25px;

					a {
						position: relative;
						display: block;
						border-radius: 2px;
						overflow: hidden;

						img {
							width: 100%;
							height: auto;
							transition: all 1s cubic-bezier(0.17, 0.19, 0.1, 1);
						}

						&:after {
							content: '';
							display: block;
							position: absolute;
							left: 0; right: 0;
							top: 0; bottom: 0;
							background-color: $site_secondary_color;
							opacity: 0;
							transition: all 1s cubic-bezier(0.17, 0.19, 0.1, 1);
						}

						&:hover {
							&:after { opacity: .3; }

							img { transform: scale(1.05); }
						}
					}
				}

				.post-content {
					.post-title {
						font-size: 25px;
						font-weight: 600;
						line-height: 33px;
						margin-top: 10px;
						margin-bottom: 10px;

						a {
							color: $h2_font_color;
							text-decoration: none;
							text-transform: uppercase;

							&:hover { opacity: .75; }
						}
					}
				}
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				background-color: #f3f3f3;
				height: 1px; width: 90%;
				bottom: 0; left: 50%;
				transform: translateX(-50%);
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		article.blog-post-item.sticky .blog-post-item-inner .sticky-post {
			display: inline-block;
			font-family: $h3_font_family;
			font-size: 17px;
			font-weight: bold;
			color: #fff;
			padding: 5px 15px;
			border-radius: 2px;
			text-transform: uppercase;
			background-color: $site_primary_color;
			margin-bottom: 5px;
		}
	}

	&.post-layout-2 {
		margin: 0 -15px;

		article.blog-post-item {
			padding-left: 15px;
			padding-right: 15px;
			margin-bottom: 30px;

			.blog-post-item-inner {
				background-color: #fff;
				box-shadow: 0px 0px 50px rgba(37, 44, 65, .15);

				.post-header {
					position: relative;

					.post-featured-image {
						a {
							position: relative;
							display: block;
							border-radius: 2px;
							overflow: hidden;

							&.placeholder-img {
								min-height: 110px;
								background-color: rgba(16, 16, 16, 0.3);
								background-repeat: no-repeat;
								background-position: center;
								background-size: cover;
							}

							img {
								width: 100%;
								height: auto;
								transition: all 1s cubic-bezier(0.17, 0.19, 0.1, 1);
							}

							&:after {
								content: '';
								display: block;
								position: absolute;
								left: 0; right: 0;
								top: 0; bottom: 0;
								background-color: $site_secondary_color;
								opacity: 0;
								transition: all 1s cubic-bezier(0.17, 0.19, 0.1, 1);
							}
						}
					}

					.post-date {
						position: absolute;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						top: 20px; right: 20px;
						font-family: $h3_font_family;
						color: #fff;
						background-color: $site_secondary_color;
						padding: 5px;
						width: 68px; height: 68px;
						border-radius: 2px;

						.year {
							font-size: 20px;
							font-weight: bold;
							line-height: 28px;
						}

						.month {
							font-size: 17px;
							font-weight: normal;
							line-height: 25px;
						}
					}
				}

				.post-content {
					padding: 25px 30px;

					.post-title {
						font-size: 20px;
						font-weight: 600;
						line-height: 28px;
						margin-bottom: 10px;

						a {
							color: $h2_font_color;
							text-decoration: none;
							text-transform: uppercase;

							&:hover { opacity: .75; }
						}
					}
				}
			}

			&:hover {
				.post-header .post-featured-image a {
					&:after { opacity: .3; }

					img { transform: scale(1.05); }
				}
			}
		}

		article.blog-post-item.sticky .blog-post-item-inner .sticky-post {
			display: inline-block;
			font-family: $h3_font_family;
			font-size: 15px;
			font-weight: bold;
			color: #fff;
			padding: 2px 10px;
			border-radius: 2px;
			text-transform: uppercase;
			background-color: $site_primary_color;
			margin-bottom: 15px;
		}
	}

	&.post-layout-3 {
		margin: 0 -15px;
		align-items: stretch;

		article.blog-post-item {
			padding-left: 15px;
			padding-right: 15px;
			margin-bottom: 30px;

			.blog-post-item-inner {
				position: relative;
				height: 100%;

				.post-featured-image {
					height: 100%;
					min-height: 300px;

					a {
						position: relative;
						display: block;
						overflow: hidden;
						height: 100%;

						img {
							width: 100%;
							height: auto;
							transition: all 1.3s cubic-bezier(0.05, 0.2, 0.1, 1);
						}

						&:after {
							content: '';
							display: block;
							position: absolute;
							left: 0;
							right: 0;
							top: 0;
							bottom: 0;
							background-color: $site_secondary_color;
							opacity: 0.7;
							transition: all 1.3s cubic-bezier(0.05, 0.2, 0.1, 1);
						}
					}
				}

				.post-content {
					position: absolute;
					left: 0; right: 0;
					top: 0; bottom: 0;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					padding: 25px 30px;

					.post-categories {
						flex: 1 1 auto;
						font-size: 15px;
						font-weight: 500;
						color: $site_primary_color;
						text-transform: uppercase;
						margin-bottom: 15px;

						a {
							color: $site_primary_color;
							text-decoration: none;

							&:hover { opacity: .7; }
						}
					}

					.post-title {
						flex: 0 0 auto;
						font-size: 20px;
						font-weight: 600;
						line-height: 1.09;
						text-transform: capitalize;
						margin-top: 10px;
						margin-bottom: 15px;

						a {
							color: #fff;
							text-decoration: none;

							&:hover { opacity: .7; }
						}
					}

					.post-summary {
						flex: 0 0 auto;
						max-height: 72px;
						overflow: hidden;
						margin-bottom: 18px;
						color: rgba(255, 255, 255, .85);

						.summary-content { margin: 0; }
					}

					.post-read-more {
						flex: 0 0 auto;

						.read-more-btn {
							position: relative;
							display: inline-block;
							font-size: 15px;
							font-weight: 500;
							line-height: 24px;
							color: #fff;
							text-decoration: none;
							padding-right: 35px;

							&:after {
								content: '\e802';
								display: block;
								font-family: "lordcros-font";
								font-size: 11px;
								position: absolute;
								top: 50%;
								right: 5px;
								margin-top: -12px;
								transition: all 0.25s ease;
							}

							&:hover:after { right: 0; }
						}
					}
				}

				&:hover {
					.post-featured-image a {
						img { transform: scale(1.1); }

						&:after { opacity: .9; }
					}
				}
			}
		}

		article.blog-post-item.sticky .blog-post-item-inner .sticky-post {
			display: inline-block;
			font-family: $h3_font_family;
			font-size: 15px;
			font-weight: bold;
			color: #fff;
			width: fit-content;
			padding: 2px 10px;
			border-radius: 2px;
			text-transform: uppercase;
			background-color: $site_primary_color;
			margin-bottom: 5px;
		}
	}
}

.single-post-content {
	.post-inner-content article {
		.post-header {
			position: relative;

			.post-image a {
				display: block;

				img {
					width: 100%;
				}

				&.placeholder-img {
					min-height: 108px;
					min-height: unset;
					background-color: #fff;
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
				}
			}

			.post-date {
				position: absolute;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				top: 20px; right: 20px;
				font-family: $h3_font_family;
				color: #fff;
				background-color: $site_secondary_color;
				padding: 5px;
				width: 68px; height: 68px;
				border-radius: 2px;

				.year {
					font-size: 20px;
					font-weight: bold;
					line-height: 28px;
				}

				.month {
					font-size: 17px;
					font-weight: normal;
					line-height: 25px;
				}
			}

			.featured-icon {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				top: 20px;
				right: 20px;
				color: #fff;
				background-color: #2f1654;
				padding: 5px;
				width: 68px;
				height: 68px;
				border-radius: 2px;

				i { font-size: 35px; }

				img {
					filter: brightness(0) invert(1);
					height: 35px; width: auto;
				}
			}
		}

		.post-main-content {
			background-color: #fff;
			padding: 25px 25px 30px 25px;

			.post-title {
				margin-bottom: 13px;
				
				h2 {
					display: block;
					font-size: 25px;
					font-weight: 600;
					line-height: 35px;
					text-transform: uppercase;
				}
			}

			.post-meta-description {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				margin-bottom: 15px;

				> div {
					display: inline-flex;
					align-items: center;

					i {
						font-size: 17px;
						margin-right: 10px;
					}

					&.comment-count {
						margin-left: 20px;
						padding-left: 20px;
						border-left: 1px solid #e5e5e5;
					}

					a {
						color: $body_font_color;
						text-transform: capitalize;
						text-decoration: none;

						&:hover { color: $site_primary_color; }
					}
				}
			}

			.post-content {
				p:last-child { margin-bottom: 0; }

				&:after {
					content: '';
					display: block;
					clear: both;
				}
			}

			.post-tags {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				flex-wrap: wrap;
				margin-top: 20px;
				margin-bottom: -10px;

				.tag-title {
					font-family: $h3_font_family;
					font-weight: 600;
					font-size: 15px;
					line-height: 23px;
					color: $h3_font_color;
					margin-right: 20px;
					margin-bottom: 10px;
				}

				> a {
					font-size: 13px;
					font-weight: normal;
					line-height: 21px;
					color: #7d7d7d;
					border: 1px solid #e4e4e4;
					border-radius: 3px;
					padding: 4px 20px;
					text-decoration: none;
					margin-right: 20px;
					margin-bottom: 10px;

					&:hover { border-color: #7d7d7d; }
				}
			}
		}

		.post-share-links {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding-top: 20px;

			.link-title {
				font-family: $h3_font_family;
				font-weight: 600;
				font-size: 15px;
				line-height: 23px;
				color: $h3_font_color;
				margin-right: 10px;
			}
		}

		.post-pagination {
			margin-top: 30px;

			.single-post-navigation {
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-family: $h3_font_family;

				a {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					flex-wrap: wrap;
					font-weight: 500;
					color: $h3_font_color;
					text-decoration: none;
					transition: transform .25s ease-in-out;

					i {
						width: 35px;
						height: 35px;
						line-height: 30px;
						font-size: 17px;
						text-align: center;
						border-radius: 50%;
						border: 2px solid $h3_font_color;
						transition: transform .25s ease-in-out;
					}

					.nav-title {
						font-size: 13px;
						font-weight: normal;
						color: $body_font_color;
						padding-top: 5px;
					}

					&:hover {
						color: $site_primary_color;

						i { border-color: $site_primary_color; }
					}
				}

				.nav-previous {
					i { margin-right: 15px; }

					&:hover i { transform: translateX(-8px); }
				}

				.nav-next {
					a {
						flex-direction: row-reverse;

						.post-title { text-align: right; }
					}

					i { margin-left: 15px; }

					&:hover i { transform: translateX(8px); }
				}
			}	
		}
	}
}