/*****************************************************************/
/*
/*** Footer Scss file Compile
/*
/*****************************************************************/

#lordcros-footer {
	background-color: $footer_bg_clr;
	margin-top: 60px;

	.footer-logo {
		a { display: block; }

		.footer-logo-img {
			max-height: 69px;
			width: auto;
		}
	}

	.lordcros-social-buttons:not(.button-style-default) .lordcros-social-button a {
		width: 40px;
		height: 40px;

		i {
			line-height: 40px;
			font-size: 14px;
		}
	}

	.widget-title {
		font-size: 20px;
		font-weight: 600;
		line-height: 24px;
		color: $footer_widget_title_clr;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.widget_nav_menu {
		ul.menu {
			padding: 0;
			margin: 0;
			margin-top: -8px;
			list-style: none;

			li a {
				display: block;
				padding: 8px 0;
			}

			ul.sub-menu {
				list-style: none;
				padding: 0;
				margin: 0;
				margin-top: -5px;

				li {
					position: relative;
					font-size: 15px;
					font-weight: normal;
					line-height: 35px;
					padding-left: 20px;

					a {
						text-decoration: none;
						padding: 0px;
						transition: all .25s ease-in-out;
					}

					&:before {
						content: "\f054";
						display: block;
						position: absolute;
						left: 0;
						font-family: "Font Awesome 5 Free";
						font-weight: 900;
						font-size: 10px;
						height: 10px;
						line-height: 10px;
						width: 10px;
						margin-top: 12px;
						transition: all .25s ease-in-out;
					}

					&:hover { 
						> a, &:before { color: $site_primary_color !important;  }
					}
				}
			}
		}
	}

	.newsletter-form {
		display: flex;
		align-items: stretch;
		justify-content: space-between;

		input[type="email"] {
			flex: 1 1 auto;
			background-color: $footer_bottom_bg_clr;
			color: $footer_txt_clr;
			padding: 13px 25px;
			border: none;
			outline: none;
			margin-right: 20px;
			border-radius: 2px;
			@include lordcros-placeholder( $footer_txt_clr );
		}

		button[type="submit"] {
			flex: 0 0 auto;
			display: inline-flex;
			align-items: center;
			font-size: 0;
			cursor: pointer;
			outline: none;
			border: none;
			background-color: $site_primary_color;
			color: #fff;
			padding: 5px 13px;
			border-radius: 2px;
			transition: all .25s ease;

			&:before {
				content: '\e80b';
				display: block;
				font-family: "lordcros-font";
				font-size: 24px;
			}

			&:hover { opacity: .8; }
		}
	}

	.footer-top {
		padding: 30px 0;
		border-bottom: 1px solid $footer_split_border;
		color: $footer_txt_clr;

		.footer-top-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.footer-logo { margin-right: 15px; }

			.footer-top-widget-content {
				margin-left: 15px;
			}
		}

		a { 
			color: $footer_txt_clr;
			text-decoration: none;

			&:hover { color: $site_primary_color; }
		}
	}

	.footer-main {
		color: $footer_txt_clr;

		a { 
			color: $footer_txt_clr;
			text-decoration: none;

			&:hover { color: $site_primary_color; }
		}	
	}

	.footer-bottom {
		display: flex;
		align-items: center;
		padding: 0 50px;
		background-color: $footer_bottom_bg_clr;
		color: $footer_bottom_txt_clr;
		min-height: 90px;

		a { 
			color: $footer_bottom_txt_clr;
			text-decoration: none;

			&:hover { color: $site_primary_color; }
		}

		.footer-copyright-txt {
			text-align: center;

			p { margin: 0; }
		}

		.footer-bottom-widget-content {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			.widget_nav_menu {
				ul.menu {
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					justify-content: center;
					margin-top: 0;

					li { margin: 0 10px; }
				}
			}

			> div {
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	&.footer-layout-1 {
		.footer-main {
			padding-top: 30px;
			padding-bottom: 30px;
		}

		.footer-bottom { justify-content: center; }
	}

	&:not(.footer-layout-1) {
		.footer-main {
			padding-top: 40px;
			padding-bottom: 50px;

			.footer-logo {
				margin-bottom: 40px;
				text-align: center;
			}
		}

		.footer-bottom { justify-content: space-between; }
	}
}

/* Cookie Popup */
.lordcros-cookies-popup {
	position: fixed;
	top: auto;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	padding: 25px 30px;
	background-color: rgba(58, 58, 58, 0.9);
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.14);
	transform: translate3d(0, 100%, 0);
	transition: transform 0.35s ease; 

	&.popup-display {
		transform: none;
	}

	&.popup-hide {
		transform: translate3d(0, 100%, 0);
	}
}

.lordcros-cookies-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.cookies-buttons { flex: 0 0 auto; }

	.cookies-info-text {
		color: #fff;
		flex: 1 1 auto;
		padding-right: 30px;
	}
}

.cookies-buttons {
	& > a {
		text-decoration: none;
		margin-right: 15px;

		&:last-child {
			margin-right: 0px; 
		}

		&:hover {
			box-shadow: inset 0 0 150px rgba(0, 0, 0, .2);
		}

		padding: 7px 15px;
		color: #fff;

		&.read-more-cookies {
			background-color: $site_secondary_color;
		}

		&.accept-cookie-btn {
			background-color: $site_primary_color;
		}
	}
}