/*****************************************************************/
/*
/*** Responsive Scss file Compile
/*
/*****************************************************************/

/* Mobile Header */
header.lordcros-header {
	.header-mobile-nav .lordcros-burger-wrapper .hamburger span {
		background-color: $header_txt_clr;
	}
}

.lordcros-sticky-header {
	.header-mobile-nav .lordcros-burger-wrapper .hamburger span {
		background-color: $sticky_header_txt_clr;
	}
}

.header-mobile-nav {
	display: none;

	.mobile-burger.lordcros-burger-wrapper {
		&:hover .hamburger:not(.active),
		.hamburger.active {
			span:nth-child(2) { width: 67%; }
		}
	}
}

@media ( max-width:1700px ) {
	header.lordcros-header, .lordcros-sticky-header {
		&.header-layout-2 {
			.main-header-wrap {
				.header-right-part {
					.room-search-form .form-input-area {
						opacity: 0;
						visibility: hidden;
						width: 0;
					}
				}
			}
		}
	}
}

@media ( max-width: 1650px ) {
	header.lordcros-header.header-layout-8 {
		.main-header-wrap .container {
			.room-search-form {
				position: relative;
				left: initial; width: auto;
				margin-left: 15px;

				.form-submit-wrap .room-search-submit {
					font-size: 0;
					padding: 10px 25px;

					i { margin-right: 0; }
				}
			}
		}
	}
}

@media ( max-width: 1399px ) {
	body.left-menu-bar.left-header-style-10 {		
		&.home {
			margin-left: 110px;

			.leftside-header.header-style-10 {
				display: block;
				width: 110px;

				.header-topbar-wrap { display: none; }

				.main-header-wrap {
					display: flex;
					align-items: center;
					justify-content: space-between;
					flex-direction: column;
					height: 100%;
					padding: 0;

					.header-html-block-content, .room-search-form { display: none; }

					.header-bottom-part { display: block; }

					.logo-part {
						display: block;
						border-bottom: none;
						text-align: center;
						margin-top: 70px;

						.site-logo {
							padding: 0; margin: 0;

							a img { transform: rotate( 90deg ); }
						}

						.lordcros-burger-wrapper { margin-top: 60px; }
					}
				}
			}
		}
	}
}

@media ( max-width: 1330px ) {
	header.lordcros-header.header-layout-9 {
		.header-right-part .room-search-form {
			.form-submit-wrap .room-search-submit {
				font-size: 0;

				i { margin-right: 0; }
			}
		}
	}
}

@media ( max-width: 1200px ) {
	header.lordcros-header.header-layout-6 {
		.main-header-wrap {
			> div.room-search-form .form-submit-wrap .room-search-submit {
				font-size: 0;
				padding: 20px 30px;

				i { margin: 0; }
			}
		}
	}
}

@media ( max-width: $mobile_enable_width ) {
	.header-mobile-nav,
	.mobile-nav {
		display: block;
	}

	header.lordcros-header, .lordcros-sticky-header {
		&.header-layout-1 {
			.main-header-wrap {
				.main-navigation, .search-button, .room-search-form {
					display: none;
				}

				.site-logo { padding: 15px 0; }
			}
		}

		&.header-layout-2 {
			.header-topbar-wrap {
				.topbar-left { display: none; }

				.topbar-right {
					flex: 1 1 100%;
					max-width: 100%;
					justify-content: center;
				}
			}

			.main-header-wrap {
				.header-right-part, .header-left-part .main-navigation {
					display: none;
				}

				.site-logo { padding: 15px 0; }
			}
		}

		&.header-layout-3 {
			.main-header-wrap {
				text-align: left;

				.header-left-part, 
				.header-right-part .language-picker-arrange,
				.header-right-part .room-search-form,
				.header-right-part > .lordcros-burger-wrapper {
					display: none;
				}

				.header-mobile-nav {
					.lordcros-burger-wrapper { height: 100%; }
				}
			}
		}

		&.header-layout-4 {
			.main-header-wrap {
				.header-left-part, .header-right-part {
					display: none;
				}
			}
		}

		&.header-layout-5 {
			.main-header-wrap {
				.header-left-part,
				.header-right-part .search-button,
				.header-right-part .room-search-form,
				.header-right-part .language-picker {
					display: none;
				}

				.site-logo { padding: 15px 0; }
			}
		}

		&.header-layout-7 {
			.main-header-wrap {
				text-align: left;

				.header-left-part,
				.header-right-part .language-picker,
				.header-right-part .search-button,
				.header-right-part .room-search-form {
					display: none;
				}

				.header-right-part {
					right: 20px;

					.header-mobile-nav {
						.lordcros-burger-wrapper { height: 100%; }
					}
				}

				.site-logo { padding: 15px 0; }
			}
		}

		&.header-layout-8 {
			.main-header-wrap .container {
				.main-navigation, .search-button, .room-search-form {
					display: none;
				}

				.header-mobile-nav .lordcros-burger-wrapper { height: 100%; }

				.site-logo { padding: 15px 0; }
			}
		}

		&.header-layout-9 {
			.header-wrap-inner {
				.header-right-part,
				.header-left-part .main-header-wrap .main-navigation,
				.header-left-part .main-header-wrap .search-button { 
					display: none; 
				}
			}

			.main-header-wrap {
				.header-mobile-nav {
					padding-right: 29px;

					.lordcros-burger-wrapper { height: 100%; }
				}
			}
		}
	}

	.lordcros-sticky-header {
		&.header-layout-3 {
			> .lordcros-burger-wrapper { display: none; }

			.header-mobile-nav {
				.lordcros-burger-wrapper .hamburger span {
					background-color: #fff;
				}

				.mobile-burger.lordcros-burger-wrapper {
					&:hover .hamburger:not(.active),
					.hamburger.active {
						span:nth-child(2) { width: 100%; }
					}
				}
			}
		}
	}

	body.left-menu-bar {
		&.left-header-style-4 .leftside-header.header-style-4 {
			> .lordcros-burger-wrapper { display: none; }
		}

		&.left-header-style-10 .leftside-header.header-style-10 {
			.main-header-wrap .logo-part > .lordcros-burger-wrapper { display: none; }
		}
	}
}

@media ( max-width: 980px ) {
	body.left-menu-bar {
		&.left-header-style-6 {
			margin-left: 0;

			.leftside-header.header-style-6 {
				display: none;
			}

			.lordcros-sticky-header.header-layout-1 {
				display: block;
			}

			#page-wrapper.lordcros-header-overlap header { left: 0; }
		}
	}

	header.lordcros-header.header-layout-6 {
		.main-header-wrap {
			padding: 0 70px;

			.room-search-form, .search-button, .language-picker { display: none; }

			> div.site-logo, > div.header-mobile-nav { display: block; }

			> div.header-mobile-nav .lordcros-burger-wrapper {
				height: 100%;
			}

			.site-logo { 
				padding: 15px 0;
				margin-right: 20px;
			}

			&:before { opacity: 1; }
		}
	}
}

@media ( max-width: 767px ) {
	header.lordcros-header, .lordcros-sticky-header {
		&.header-layout-1, &.header-layout-2 {
			.header-topbar-wrap { display: none; }

			.container-fluid .main-header-wrap {
				padding: 0 20px;
			}

			.main-header-wrap {
				.site-logo img.normal-logo,
				.site-logo img.sticky-logo { max-height: 50px; }
			}
		}

		&.header-layout-3 {
			.main-header-wrap {
				.site-logo img.normal-logo,
				.site-logo img.sticky-logo { max-height: 50px; }

				.header-right-part .lordcros-burger-wrapper { padding: 20px 25px; }
			}
		}

		&.header-layout-4 {
			.main-header-wrap {
				text-align: left;

				.site-logo img.normal-logo { max-height: 50px; }
			}
		}

		&.header-layout-5 {
			.header-topbar-wrap { display: none; }

			.main-header-wrap {
				text-align: left;

				.site-logo img.normal-logo,
				.site-logo img.sticky-logo { max-height: 50px; }

				.header-right-part { right: 20px; }
			}
		}

		&.header-layout-6 {
			.container-fluid .main-header-wrap {
				padding: 0 20px;
			}

			.main-header-wrap {
				.site-logo img.normal-logo,
				.site-logo img.sticky-logo { max-height: 50px; }
			}
		}

		&.header-layout-7 {
			.header-topbar-wrap { display: none; }

			.container-fluid .main-header-wrap {
				margin: 20px 20px 0 20px;
			}

			.main-header-wrap {
				.site-logo img.normal-logo,
				.site-logo img.sticky-logo { max-height: 50px; }
			}
		}

		&.header-layout-8 {
			.header-topbar-wrap { display: none; }

			.main-header-wrap .container {
				padding: 0 20px;

				.site-logo img.normal-logo,
				.site-logo img.sticky-logo { max-height: 50px; }
			}
		}

		&.header-layout-9 {
			.header-topbar-wrap { display: none; }

			.container-fluid .header-wrap-inner { margin-top: 20px; }

			.main-header-wrap {
				.site-logo img.normal-logo,
				.site-logo img.sticky-logo { max-height: 50px; }
			}
		}
	}

	.lordcros-sticky-header {
		&.header-layout-1 {
			.main-header-wrap { margin: 0 -15px; }
		}

		&.header-layout-3 {
			.lordcros-burger-wrapper {
				padding: 20px 25px;
				min-width: 88px;
				min-height: 88px;
			}
		}

		&.header-layout-5 {
			.container-fluid .main-header-wrap { margin: 0 -15px; }
		}

		&.header-layout-7 {
			.main-header-wrap {
				.site-logo { margin-left: 0; }

				.header-right-part { right: 0; }
			}
		}
	}

	body.left-menu-bar {
		&.left-header-style-4 {
			margin-right: 80px;

			#page-wrapper.lordcros-header-overlap header { right: 80px; }

			.leftside-header.header-style-4 {
				width: 80px;

				.lordcros-burger-wrapper {
					width: 80px;
					height: 90px;
				}
			}
		}

		&.left-header-style-10 {
			&.home, &:not(.home) {
				margin-left: 80px;

				.leftside-header.header-style-10 {
					width: 80px;

					.main-header-wrap .lordcros-burger-wrapper { margin-top: 45px !important; }
				}
			}

			.header-right-corner-part { display: none; }
		}
	}
}

/* Mobile Footer */
@media ( max-width: 1300px ) {
	#lordcros-footer .newsletter-form {
		position: relative;
		display: block;

		input[type="email"] {
			width: 100%;
			margin: 0;
			padding-right: 70px;
		}

		button[type="submit"] {
			position: absolute;
			right: 0; top: 0;
			bottom: 0;
		}
	}
}

@media ( max-width: 991px ) {
	#lordcros-footer:not(.footer-layout-1) .footer-bottom {
		flex-direction: column;
		justify-content: center;
		padding-top: 15px;
		padding-bottom: 15px;

		.footer-copyright-txt {
			padding-bottom: 10px;
			margin-bottom: 5px;
			border-bottom: 1px solid $footer_split_border;
		}
	}
}

@media ( max-width: 767px ) {
	#lordcros-footer {
		.footer-top .footer-top-wrapper {
			flex-direction: column;

			.footer-logo {
				margin-right: 0;
				margin-bottom: 20px;
			}

			.footer-top-widget-content { 
				margin: 0;
				text-align: center;
			}
		}

		.footer-main {
			padding-top: 30px !important;
			padding-bottom: 0px !important;

			.main-footer-column {
				margin-bottom: 25px;

				.widget-title {
					margin-bottom: 15px;
				}
			}
		}
	}
}

@media ( max-width: 575px ) {
	#lordcros-footer {
		.footer-main .row {
			padding: 0 15px;
		}
	}
}

/* Mobile Page Banner/BreadCrumb */
@media ( max-width: 1025px ) {
	#page-wrapper {
		&.lordcros-header-overlap {
			.page-banner {
				min-height: 320px;

				.container {
					padding-top: 190px;
					padding-bottom: 70px;
				}
			}
		}

		.page-banner {
			min-height: 200px;

			.container {
				padding-top: 70px;
				padding-bottom: 70px;

				h1 { font-size: 30px; }
			}
		}
	}

	.breadcrumbs {
		margin-top: 10px;

		a, span { font-size: 13px; }
	}
}

@media ( max-width: 767px ) {
	#page-wrapper.lordcros-header-overlap {
		.page-banner {
			min-height: 270px;

			.container {
				padding-top: 140px;
			}
		}
	}
}

/* Mobile Sidebar */
@media ( max-width: 991px ) {
	.mobile-sidebar-toggle-btn { display: block; }

	.mobile-sidebar-header { display: flex; }

	.main-content aside {
		position: fixed;
		top: 0; bottom: 0;
		left: 0; width: 320px;
		padding: 30px 20px;
		margin: 0;
		background-color: #fff;
		overflow-y: auto;
		transition: all .3s linear;
		transform: translateX(-320px);
		z-index: 820;
		
		&::-webkit-scrollbar {
			width: 6px;
		}
		 
		&::-webkit-scrollbar-track {
			border-radius: 8px;
			-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
		}
		 
		&::-webkit-scrollbar-thumb {
			border-radius: 8px;
			background-color: #c1c1c1;
		}

		&.mobile-sidebar-open {
			transform: translateX(0);
		}
	}
}

/* Room/Booking Pages */
@media ( max-width: 991px ) {
	#checkout-form { margin-bottom: 0px; }

	.checkout-fields-wrapper .checkout-info-wrap .checkout-info {
		> .row .info-wrap:after {
			content: '' !important;
			left: 15px; right: 15px;
		}
	}

	.checkout-page-container, .thankyou-page-container,
	.thankyou-page-container .checkout-fields-wrapper .checkout-info-wrap { padding-bottom: 0; }

	.lordcros-shortcode-rooms .lordcros-shortcode-rooms-wrapper.available-rooms-wrap .room-block-view {
		.room-thumbs .room-item-wrap {
			height: 450px !important;

			.price-section, .room-title {
				left: 30px;
				padding-right: 30px;
			}

			.room-book-btn-section {
				left: 30px;
			}
		}
	}
}

@media ( max-width: 767px ) {
	.search-available-rooms .order-view-filter-wrap .order-filter-section {
		flex-direction: column;
		align-items: stretch;

		> div { 
			margin-right: 15px;
			
			&:first-child { margin-bottom: 15px; }
		}

		select {
			width: 100%;
			padding: 10px 100px 10px 20px;
		}
	}

	.room-book-stepline { display: none; }

	#checkout-form .checkout-fields-wrapper .extra-service-fields {
		flex-direction: column;

		.service-item {
			flex: 1 1 100%;
			max-width: 100%;
			width: 100%;
			text-align: center;
			padding: 0 !important;
		}
	}

	.single-room-page-content-area .room-summery {
		.room-info-wrap .room-infos {
			flex-wrap: wrap;
			margin-bottom: -25px; 

			.room-info {
				flex: 1 1 50%;
				max-width: 50%;
				margin-bottom: 25px;
			}
		}
	}

	.room-slider-header-layout .room-gallery-slider-wrapper .room-title-section {
		.room-title-wrapper h1 {
			font-size: 25px;
			line-height: 30px;
		}

		.price-section {
			font-size: 14px;

			.price-val { font-size: 18px; }
		}
	}

	.lordcros-shortcode-rooms {
		.lordcros-shortcode-rooms-wrapper.available-rooms-wrap.owl-carousel.room-slider {
			&.style1, &.style2 {
				> .owl-nav button.owl-prev, 
				> .owl-nav button.owl-next {
					width: 30px; height: 60px;

					&:after { font-size: 9px; }
				}

				&:hover {
					> .owl-nav button.owl-prev { left: 10px; }
					> .owl-nav button.owl-next { right: 10px; }
				}
			}

			&.style2 {
				> .owl-nav button.owl-prev { margin-left: 30px; }

				> .owl-nav button.owl-next { margin-left: -20px; }
			}
		}
	}

	.lordcros-shortcode-rooms .lordcros-shortcode-rooms-wrapper.available-rooms-wrap .room-block-view {
		.room-thumbs .room-item-wrap {
			height: 350px !important;
		}
	}
}

@media ( max-width: 575px ) {
	.single-room-page-wrapper {
		figure.featured-image-slider {
			.owl-nav button.owl-prev, 
			.owl-nav button.owl-next {
				width: 30px; height: 60px;

				&:after { font-size: 9px; }
			}

			&:hover {
				.owl-nav button.owl-prev { left: 10px; }
				.owl-nav button.owl-next { right: 10px; }
			}
		}

		.single-room-page-content-area .room-summery {
			.room-service-section .room-service-info .room-def-services { column-count: 1; }
		}
	}

	.room-slider-header-layout .room-gallery-slider-wrapper .room-title-section {
		flex-direction: column;
		bottom: 15px;

		.room-title-wrapper { margin-bottom: 5px; }
	}

	.lordcros-shortcode-rooms {
		.lordcros-shortcode-rooms-wrapper.available-rooms-wrap.owl-carousel.room-slider {
			&.style1, &.style2 {
				> .owl-nav button.owl-prev {
					margin: 0;
					left: 10px !important;
				}

				> .owl-nav button.owl-next {
					margin: 0;
					left: initial !important;
					right: 10px !important;
				}
			}
		}
	}
}

@media ( max-width: 478px ) {
	.room-slider-content-layout .room-image-gallery .room-slider-placeholder,
	.single-room-page-content-area .room-image-gallery figure.featured-image-slider {
		margin-bottom: 6px;
	}
}

@media ( max-width: 425px ) {
	.search-available-rooms .order-view-filter-wrap {
		.order-filter-section select {
			width: 100%;
			padding: 10px 60px 10px 20px;
		}

		.view-mode-section { flex-direction: column; }
	}
}

/* Mobile Grid */
@media ( max-width: 1199px ) {
	.available-rooms-wrap[data-col="4"] > div.room-content-view-wrap,
	.lordcros-shortcode-services .lordcros-shortcode-services-wrapper[data-col="4"] > div.service-item,
	.lordcros-blog-wrapper[data-col="4"] > article.blog-post-item,
	.lordcros-shortcode-img-gallery .image-gallery-inner[data-col="4"] > div.lordcros-image-wrap,
	.lordcros-shortcode-img-gallery .image-gallery-inner[data-col="5"] > div.lordcros-image-wrap,
	.lordcros-shortcode-img-gallery .image-gallery-inner[data-col="6"] > div.lordcros-image-wrap,
	.lordcros-shortcode-posts .lordcros-shortcode-posts-inner[data-col="4"]:not(.owl-carousel) > article.blog-post-item {
		flex: 1 1 33.333% !important;
		max-width: 33.333% !important;
	}
}

@media ( max-width: 991px ) {
	.available-rooms-wrap[data-col="3"] > div.room-content-view-wrap,
	.available-rooms-wrap[data-col="4"] > div.room-content-view-wrap,
	.lordcros-shortcode-services .lordcros-shortcode-services-wrapper[data-col="3"] > div.service-item,
	.lordcros-shortcode-services .lordcros-shortcode-services-wrapper[data-col="4"] > div.service-item,
	.lordcros-blog-wrapper[data-col="3"] > article.blog-post-item,
	.lordcros-blog-wrapper[data-col="4"] > article.blog-post-item,
	.lordcros-shortcode-img-gallery .image-gallery-inner[data-col="3"] > div.lordcros-image-wrap,
	.lordcros-shortcode-img-gallery .image-gallery-inner[data-col="4"] > div.lordcros-image-wrap,
	.lordcros-shortcode-img-gallery .image-gallery-inner[data-col="5"] > div.lordcros-image-wrap,
	.lordcros-shortcode-img-gallery .image-gallery-inner[data-col="6"] > div.lordcros-image-wrap,
	.lordcros-shortcode-posts .lordcros-shortcode-posts-inner[data-col="3"]:not(.owl-carousel) > article.blog-post-item,
	.lordcros-shortcode-posts .lordcros-shortcode-posts-inner[data-col="4"]:not(.owl-carousel) > article.blog-post-item {
		flex: 1 1 50% !important;
		max-width: 50% !important;
	}
}

@media ( max-width: 767px ) and ( min-width: 576px ) {
	.available-rooms-wrap .room-grid-view .room-infobox {
		padding: 15px 22px 20px 22px;
	}
}

@media ( max-width: 575px ) {
	.available-rooms-wrap[data-col="2"] > div.room-content-view-wrap,
	.available-rooms-wrap[data-col="3"] > div.room-content-view-wrap,
	.available-rooms-wrap[data-col="4"] > div.room-content-view-wrap,
	.lordcros-shortcode-services .lordcros-shortcode-services-wrapper[data-col="2"] > div.service-item,
	.lordcros-shortcode-services .lordcros-shortcode-services-wrapper[data-col="3"] > div.service-item,
	.lordcros-shortcode-services .lordcros-shortcode-services-wrapper[data-col="4"] > div.service-item,
	.lordcros-blog-wrapper[data-col="2"] > article.blog-post-item,
	.lordcros-blog-wrapper[data-col="3"] > article.blog-post-item,
	.lordcros-blog-wrapper[data-col="4"] > article.blog-post-item,
	.lordcros-shortcode-img-gallery .image-gallery-inner[data-col="2"] > div.lordcros-image-wrap,
	.lordcros-shortcode-img-gallery .image-gallery-inner[data-col="3"] > div.lordcros-image-wrap,
	.lordcros-shortcode-img-gallery .image-gallery-inner[data-col="4"] > div.lordcros-image-wrap,
	.lordcros-shortcode-img-gallery .image-gallery-inner[data-col="5"] > div.lordcros-image-wrap,
	.lordcros-shortcode-img-gallery .image-gallery-inner[data-col="6"] > div.lordcros-image-wrap,
	.lordcros-shortcode-posts .lordcros-shortcode-posts-inner[data-col="2"]:not(.owl-carousel) > article.blog-post-item,
	.lordcros-shortcode-posts .lordcros-shortcode-posts-inner[data-col="3"]:not(.owl-carousel) > article.blog-post-item,
	.lordcros-shortcode-posts .lordcros-shortcode-posts-inner[data-col="4"]:not(.owl-carousel) > article.blog-post-item {
		flex: 1 1 100% !important;
		max-width: 100% !important;
	}
}

/* Mobile Pagination */
@media ( max-width: 991px ) {
	.lordcros-pagination {
		margin-top: 20px;

		ul.page-numbers li {
			a.prev.page-numbers, a.next.page-numbers {
				font-size: 0;
				margin: 0;
			}
		}
	}
}

@media ( max-width: 767px ) {
	.lordcros-pagination ul.page-numbers {
		font-size: 14px;

		li {
			.page-numbers:not(.prev):not(.next) {
				width: 34px;
				height: 34px;
			}

			.page-numbers.prev:after {
				margin-right: 10px;
			}

			.page-numbers.next:after {
				margin-left: 10px;
			}
		}
	}
}

/* Mobile Carousel Navigation */
@media ( max-width: 767px ) {
	.lordcros-shortcode-img-carousel {
		.image-carousel-inner {
			.owl-nav button.owl-prev, 
			.owl-nav button.owl-next {
				width: 30px; height: 60px;

				&:after { font-size: 9px; }
			}

			&:hover {
				.owl-nav button.owl-prev { left: 10px; }
				.owl-nav button.owl-next { right: 10px; }
			}
		}

		&.nav-center_pos .image-carousel-inner {
			.owl-nav button.owl-prev { margin-left: 30px; }

			.owl-nav button.owl-next { margin-left: -20px; }
		}
	}

	.lordcrosnav.tparrows {
		width: 30px; height: 60px;

		&:before {
			font-size: 8px;
			line-height: 60px;
		}
	}
}

@media ( max-width: 575px ) {
	.lordcros-shortcode-img-carousel {
		&.nav-center_pos .image-carousel-inner {
			.owl-nav button.owl-prev {
				margin: 0;
				left: 10px !important;
			}

			.owl-nav button.owl-next {
				margin: 0;
				left: initial !important;
				right: 10px !important;
			}
		}
	}
}

/* Mobile Blog/Post */
@media ( max-width: 767px ) {
	.post-comments-field {
		.post-block.post-comments-inner ul.children {
			padding-left: 0;
		}
	}
}

@media ( max-width: 575px ) {
	.lordcros-blog-wrapper.post-layout-1 article.blog-post-item {
		.blog-post-item-outer {
			.post-date {
				width: 45px; height: 45px;

				.year {
					font-size: 15px;
					line-height: 18px;
				}

				.month {
					font-size: 13px;
					line-height: 16px;
				}
			}

			.social-share-buttons .lordcros-social-button {
				width: 45px;
				height: 45px;
			}
		}

		.blog-post-item-inner { padding-left: 15px; }
	}
	
	.single-post-content .post-inner-content article {
		.post-main-content {
			.post-tags {

				.tag-title { 
					margin-right: 10px; 
				}

				> a {
					font-size: 13px;
					padding: 0px 10px;
					margin-right: 10px;
				}
			}
		}

		.post-pagination .single-post-navigation a {
			.post-title span {
				display: none;
			}
		}
	}

	.post-comments-field {
		margin-bottom: 0;

		#respond.comment-respond {
			.comment-form-author, 
			.comment-form-email, 
			.comment-form-url {
				width: 100%;
				padding: 0 !important;
			}
		}
	}
}

/* Mobile Special Pages/Shortcodes */
@media ( max-width: 1300px ) {
	.instagram-widget.instagram-grid {
		&.instagram-per-row-10 .instagram-picture,
		&.instagram-per-row-9 .instagram-picture {
			width: 20%;
			max-width: 20%;
		}

		&.instagram-per-row-8 .instagram-picture,
		&.instagram-per-row-7 .instagram-picture {
			width: 25%;
			max-width: 25%;
		}
	}
}

@media ( max-width: 1199px ) {
	.lordcros-room-search-shortcode {
		&.font-size-large {
			form {
				.form-input-area {
					> div {
						padding: 0 45px;

						.day-val, .guest-val {
							font-size: 35px;
							line-height: 40px;
						}

						.section-title {
							font-size: 13px;
							line-height: 18px;
						}
					}
				}
			}
		}
	}
}

@media ( max-width: 1199px ) and ( min-width: 992px ) {
	.available-rooms-wrap .room-list-view {
		.room-infobox .service-book-btn-section {
			flex-direction: column;
			align-items: flex-start;

			.default-services-wrap {
				margin-right: 0;
				margin-bottom: 15px;
			}
		}
	}
}

@media ( max-width: 991px ) {
	.lordcros-shortcode-services[id*="lordcros-services-"] {
		&.style2 {
			.lordcros-shortcode-services-wrapper .service-item {
				flex-direction: column;
				margin-bottom: 20px;

				&:last-child { margin-bottom: 0; }

				> div {
					flex: 1 1 100%;
					max-width: 100%;
				}

				.service-thumbs {
					order: initial !important;
				}

				.service-infobox {
					order: initial !important;
					padding: 25px;

					&:after {
						top: initial;
						left: 50%; bottom: 100%;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 0 20px 20px 20px;
						border-color: transparent transparent #f3f3f6 transparent;
						margin-top: 0;
						margin-left: -20px;
					}
				}
			}
		}

		&.style3 {
			.lordcros-shortcode-services-wrapper {
				.service-wrap-bg { width: 100%; }

				.services-wrap-slide .service-item {
					flex-wrap: wrap;

					> div {
						flex: 1 1 100%;
						max-width: 100%;
					}

					.service-infobox .service-infobox-wrap {
						max-width: unset;

						.service-index {
							color: rgba(255, 255, 255, 0.75);

							.service-number { color: #fff; }
						}

						.service-title a { color: #fff; }

						.brief { color: rgba(255, 255, 255, .69); }

						.service-read-more {
							color: #fff;
							border-color: #fff;

							&:hover {
								color: rgba(255, 255, 255, 0.8);
								border-color: rgba(255, 255, 255, 0.8);
								background-color: transparent;
							}
						}
					}
				}

				.services-wrap-slide .owl-nav {
					button.owl-prev { 
						left: 50%;
						margin-left: -50px;
					}

					button.owl-next { left: 50%; }
				}
			}
		}

		&.style4 {
			.lordcros-shortcode-services-wrapper .services-infoboxes-wrap .service-infobox {
				min-height: unset;
			}
		}

		&.style5 {
			.lordcros-shortcode-services-wrapper {
				flex-wrap: wrap;

				.tab-content {
					flex: 1 1 100%;
					max-width: 100%;
					padding-right: 0;
				}

				.service-infobox {
					flex: 1 1 100%;
					max-width: 100%;
					padding-left: 10px;
					margin-top: 20px;
					justify-content: center;

					.shortcode-title {
						font-size: 25px;
						line-height: 35px;
					}

					.shortcode-description {
						margin-top: -35px;
						margin-bottom: 15px;
					}

					.service-titles .tab-pane-title {
						margin-bottom: 5%;

						a {
							font-size: 17px;
							line-height: 21px;
						}
					}
				}
			}
		}
	}

	.lordcros-shortcode-testimonial .testimonial-inner {
		padding: 0;

		.testimonial-inside .testimonial-blockquote {
			padding: 139px 25px 25px 25px;
		}

		> .owl-nav { display: none !important; }

		> .owl-dots { display: block !important; }
	}

	.instagram-widget.instagram-grid {
		&[class*='instagram-per-row'] .instagram-picture {
			width: 33.3333% !important;
			max-width: 33.3333% !important;
		}
	}

	.lordcros-shortcode-restaurant-menus .restaurant-menus-innner .shortcode-restaurant-menu {
		.restaurant-menu-detail {
			.menu-title {
				font-size: 15px;
				line-height: 21px;
			}

			.menu-subtitle {
				font-size: 13px;
				line-height: 19px;
			}
		}

		.restaurant-menu-price .menu-price {
			font-size: 13px;
			line-height: 19px;
		}
	}

	.lordcros-room-search-shortcode {
		form {
			flex-direction: column;
			align-items: stretch;

			.form-input-area {
				justify-content: space-between;

				> div {
					flex: 1 1 33.333%;
					max-width: 33.333%;
					padding: 0 30px;
				}
			}

			.form-submit-wrap {
				margin-top: 25px;

				.room-search-submit {
					width: 100%;
					min-height: unset !important;
					max-width: 360px;
					margin: 0 auto;
				}
			}
		}
	}

	.lordcros-cookies-inner {
		flex-direction: column;
		justify-content: center;
		text-align: center;

		.cookies-buttons { margin-top: 15px; }
	}

	.page-content-404 {
		margin-top: 0;
		margin-bottom: 0;

		.title-404 {
			font-size: 160px;
			line-height: 165px;
		}
	}
}

@media ( max-width: 767px ) {
	.lordcros-shortcode-services[id*="lordcros-services-"] {
		&.style4 .lordcros-shortcode-services-wrapper {
			flex-wrap: wrap;

			.services-thumbs-wrap {
				flex: 1 1 100%;
				max-width: 100%;

				.service-slider-nav {
					bottom: 0; right: 0;
					z-index: 10;
				}
			}

			.services-infoboxes-wrap {
				flex: 1 1 100%;
				max-width: 100%;
				transform: none;
			}
		}
	}

	.lordcros-shortcode-posts,
	.instagram-widget .instagram-photos {
		.owl-nav button.owl-prev, 
		.owl-nav button.owl-next {
			width: 30px; height: 60px;

			&:after { font-size: 9px; }
		}

		&:hover {
			.owl-nav button.owl-prev { left: 10px; }
			.owl-nav button.owl-next { right: 10px; }
		}
	}

	.lordcros-shortcode-countdown-timer .countdown-timer {
		transform: scale(.7);

		span.time { padding: 0 20px; }
	}

	.lordcros-room-search-shortcode {
		&.font-size-large, & {
			form {
				.form-input-area {
					> div {
						padding: 0 10px;
					}
				}
			}

			&:not(.date-format-style1) {
				.year-val { display: none !important; }
			}
		}
	}

	.available-rooms-wrap .room-list-view {
		.room-infobox .service-book-btn-section {
			flex-direction: column;
			align-items: flex-start;

			.default-services-wrap {
				margin-right: 0;
				margin-bottom: 15px;
			}
		}
	}
}

@media ( max-width: 575px ) {
	.empty-room-desc {
		i { font-size: 110px; }

		h2.title { 
			font-size: 30px;
			line-height: 35px;
		}

		p.desc {
			font-size: 14px;
			line-height: 20px;
		}
	}

	.lordcros-shortcode-services.style3 .lordcros-shortcode-services-wrapper .services-wrap-slide {
		padding: 0 30px;
	}

	.lordcros-shortcode-countdown-timer .countdown-timer {
		transform: scale(.45);

		span.time { padding: 0 10px; }
	}

	.lordcros-room-search-shortcode {
		&.font-size-large, & {
			form {
				.form-input-area {
					> div {
						.section-title {
							font-size: 11px;
							line-height: 16px;
						}

						.day-val, .guest-val {
							font-size: 25px;
							line-height: 30px;
						}

						.month-val, .year-val {
							font-size: 12px;
							line-height: 16px;
						}
					}
				}
			}

			&.date-format-style1 .form-input-area,
			&.date-format-style3 .form-input-area {
				.check-in-section-wrap, .check-out-section-wrap {
					.leftside-inner {
						margin-left: 5px;
					}
				}
			}

			&.date-format-style2 .form-input-area {
				.check-in-section-wrap, .check-out-section-wrap {
					.leftside-inner {
						margin-left: 10px;

						i.fa-chevron-down { margin-left: 5px; }
					}
				}
			}
		}
	}

	.available-rooms-wrap .room-list-view {
		flex-direction: column;

		.room-thumbs {
			max-width: unset;
			min-width: unset;
			width: 100%;
		}
	}
}

@media ( max-width: 425px ) {
	.lordcros-shortcode-testimonial {
		.testimonial-inner .testimonial-inside .testimonial-blockquote .quote-icon {
			top: 25px; left: 30px;
		}
	}

	.lordcros-shortcode-restaurant-menus .restaurant-menus-innner .shortcode-restaurant-menu {
		.restaurant-menu-image {
			max-width: 90px;
			margin-right: 10px;
		}

		.restaurant-menu-detail {
			margin-right: 10px;
		}
	}

	.page-content-404 {
		.title-404 {
			font-size: 130px;
			line-height: 135px;
		}

		.search-form-wrapper-404 #searchform input[type="search"] {
			min-width: unset;
			width: auto;
		}
	}
}

/* Dashboard Pages */
@media ( max-width: 1650px ) {
	.main-content.dashboard-page-wrap {
		.tab-head { width: 220px; }
		.tab-content { padding: 30px; }

		.alert {
			right: 45px; top: 42px;
		}
	}

	.dashboard-page-wrap .tab-content {
		.booking-information-table {
			margin: 0 -5px;
			margin-bottom: 10px;

			.single-information { padding: 0 5px; }
		}

		.dashboard-blocks-wrap {
			margin: 0 -5px;

			.block-content { padding: 0 5px; }	
		}
	}
}

@media ( max-width: 1330px ) {
	.dashboard-page-wrap {
		.tab-content .booking-information-table {
			flex-wrap: wrap;
			margin-bottom: 0;

			.single-information { 
				flex: 1 1 50%;
				max-width: 50%;
				margin-bottom: 10px; 
			}
		}

		.profile-block-wrap .view-profile-inner .profile-info-list .single-list {
			flex: 1 1 50%;
			max-width: 50%;
		}

		.booking-status-filter .single-radio {
			margin-right: 20px;
		}
	}
}

@media ( max-width: 1200px ) {
	.dashboard-page-wrap {
		.booking-status-filter {
			.form-filter-wrap {
				flex-direction: column;
				align-items: flex-start;
			}

			.radio-filter-part { flex-wrap: wrap; }

			.single-radio { margin-bottom: 20px; }
		}

		.booking-history .booking-info-list {
			.box-title {
				padding-left: 20px;
			}

			.book-date-info {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}
}

@media ( max-width: 991px ) {
	.main-content.dashboard-page-wrap .tab-head {
		width: 70px;
	}

	.dashboard-page-wrap {
		.tab-head .nav-link {
			font-size: 0;
			justify-content: center;
			padding: 20px 10px;

			i { margin-right: 0; }
		}

		.profile-block-wrap {
			.photo-upload-right-part {
				flex-direction: column;
			}

			 .edit-profile-inner .form-group.photo-upload .fileinput {
			 	margin-right: 0;
			 	margin-bottom: 20px;
			 }
		}

		.booking-history .booking-info-list {
			flex-direction: column;

			.box-title {
				padding-left: 0;
				text-align: center;
				margin-top: 10px;
			}

			.book-date-info {
				font-size: 13px;
				padding: 0;
				text-align: center;
			}

			.booking-status-btn {
				min-width: 100px;
				margin-top: 10px;
			}
		}
	}
}

@media ( max-width: 767px ) {
	.dashboard-page-wrap {
		.tab-content .dashboard-blocks-wrap {
			flex-wrap: wrap;

			.block-content {
				flex: 1 1 100%;
				max-width: 100%;
				margin-bottom: 10px;
			}
		}

		.profile-block-wrap .view-profile-inner .profile-info-list .single-list {
			flex: 1 1 100%;
			max-width: 100%;
		}
	}
}

@media ( max-width: 640px ) {
	.main-content.dashboard-page-wrap {
		.tab-content {
			padding: 15px;
		}

		.alert {
			position: fixed;
			top: 50%; right: 50%;
			transform: translateX(50%);
			min-width: 300px;
			z-index: 1000;

			i { margin-left: 10px; }
		}
	}

	.dashboard-page-wrap {
		.tab-content {
			.tab-content-title {
				font-size: 18px;
				margin-bottom: 15px;
			}

			.booking-information-table .single-information {
				flex: 1 1 100%;
				max-width: 100%;
			}

			.information-wrap {
				padding: 15px;

				.icon-part {
					width: 90px; height: 90px;
				}	
			}

			.block-content-inner { padding: 15px; }
		}

		.profile-block-wrap {
			.view-profile-inner {
				.profile-head-part {
					flex-direction: column;
					align-items: flex-start;

					.fullname { margin-bottom: 10px; }
				}

				.profile-photo {
					margin-right: 0;
					margin-bottom: 20px;

					img {
						max-width: 150px;
					}
				}
			}

			.edit-profile-inner {
				.form-group.photo-upload {
					flex-direction: column;
					align-items: flex-start;

					.photo-box-wrap {
						margin-right: 0;
						margin-bottom: 20px;					

						img {
							max-width: 150px;
						}
					}
				}
			}
		}
	}
}

@media ( max-width: 575px ) {
	.edit-profile-inner .form-group .col-sm-6 {
		margin-bottom: 25px;

		&:last-child { margin-bottom: 0; }
	}

	.dashboard-page-wrap .booking-status-filter .sort-filter-part {
		flex-wrap: wrap;
		justify-content: flex-start;

		.sort-title {
			width: 100%;
			margin-bottom: 10px;
		}
	}
}

@media ( max-width: 370px ) {
	.dashboard-page-wrap .tab-content .dashboard-blocks-wrap .block-list-wrap .list-title {
		flex-direction: column;
	}
}