*{
  border:0;
  margin: 0;
  padding: 0;
}
.container
{
  font-family: Arial;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  width: 94%;
}
/* encabezado de documento */
.header
{
  height:20%;
  margin-top: -4em;
  position: absolute;
  width: 12%;
  z-index:2;
}
.t-h
{
  position: relative;
  z-index: 1;
}
/* texto header del documento */
.ha-text
{
  font-size:1em;
  text-align: right;
  top:0;
}
.hb-text
{
  font-size: .8em;
  text-align: right;
}
.w-tab
{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.t-one
{
  margin-top: -1em;
}
.h-line
{
  margin-bottom: 4px;
  margin-top: 4px;
  height: 1px;
  width: 100%;
}
.h-lo
{
  border-radius: 2px;
  height: 3.4%;
  width: 11%;
}
.h-lt
{
  border-radius: 2px;
  height: 3.8%;
  width: 14%;
}
.h-ltr
{
  border-radius: 2px;
  height: 3.4%;

  width: 11%;
}
.h-lf
{
  border-radius: 2px;
  height: 3.6%;
  padding: 2px;
  width: 12%;
}
.h-lfi
{
  border-radius: 2px;
  height: 4%;
  padding: 2px;
  width: 16%;
}
.h-ls
{
  border-radius: 2px;
  height: 4%;
  padding: 2px;
  width: 16%;
}
.date
{
  margin-top: .5em;
}
table
{
  width: 100%;
}
/* tabla el solicitante */
.ba
{
  border: 2px solid #c5b1d0;
}
.ba tr
{
  border:0;
}
.bl
{
  border-top: 2px solid #c5b1d0;
}
.ct
{
text-align: center;
}
.mb
{
  background-color: #dfd8e7;
}
.mc
{
   border-left: 2px solid #dfd8e7;
   border-right: 2px solid #dfd8e7;
}
/*tabla tipo de servicio*/
.mw
{
  color:#ffffff;
  background-color:#8764a2;
}
.mda
{
  background-color: #c5b1d0;
}
.md
{
  background-color: #dfd8e7;
}
.ser td
{
  padding-left: 4px;
  text-align: center;
}
/* tabla observacion ADICIONALES */
.ob-texto
{
  font-family: Arial;
  font-size: 10px;
  padding: .6em;
  text-align: justify;
}
/*firms*/
.url
{
  color:#a34066;
  font-size: 1em;
  text-align: center;
}
.bt
{
  border-top: 2px solid #8764a2;
}
.bt-l
{
  border-left: 2px solid #c5b1d0;
  border-right: 2px solid #c5b1d0;
}
.sp-w
{
  color:#ffffff;
}
.tab
{
  position: relative;
  z-index: 1;
}
.fi-tx
{
  font-family: Arial;
  font-size: 12px;
  text-align: center;
  width: 55%;
}
.img-f
{
  height: 30%;
  margin-left: 12em;
  margin-top:-6em;
  position: absolute;
  width: 20%;
  z-index:2;
}
.fin
{
  height: 20%;
  margin-top: 2em;
  width: 100%;
}
  /* HOJA  dos del contrato */
.hd-tit
{
  font-family:Arial;
  font-size:11px;
  text-align: center;
}
.hd-sub
{
  font-family:Arial;
  font-size:10px;
  text-align: center;
}
.hd-text
{
  text-align: justify;
  font-family:Arial;
  font-size:9px;
  width: 97%;
}
.hd-vs
{
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
/*Clases agregadas por JCCM*/
.hd-entrada{
  position: relative;
  left: 30px;
  width: 96%;
  text-align: justify;
}

.Div-Cobrar{
  width: 38%;
  left: 60%;
  position: relative;
  /*top: -50px;*/
  font-size:9px;
}
.ul-adver{
  position: relative;
  left: 20px;
  font-size: 8px;
}
.img-f2{
  height: 30%;
  margin-left: 10em;
  margin-top:-6em;
  width: 20%;
  position: absolute;
}
.fin2
{
  height: 20%;
  margin-top: 2em;
  width: 100%;
  position: relative;
  /*top: -70px;*/
}
.hc-tab2{
  margin-top:50px;
  padding:0px;
}
/* FIN Clases agregadas por JCCM*/

.hd-v, .hd-v strong
{
  font-family:Arial;
  font-size:8px;
  padding:-1px;
  text-align: justify;
}
.hd-t
{
  font-family:Arial;
  font-size:9px;
  text-align: center;
}
.hd-url
{
  color:#000000;
  text-decoration: none;
}
    /* hoja tres apertura de credito */
.ht-tit
{
  font-family:Arial;
  font-size:10px;
  text-align: center;
}
.ht-text
{
  font-family:Arial;
  font-size:8px;
  text-align: justify;
}
.ht-t
{
  font-family:Arial;
  font-size:9px;
  text-align: center;
}
font
{
  color:red;
}
/*hoja de preguntas mas frecuentes*/

.hc-header
{
  height:20%;
  margin-top: 0em;
  position: absolute;
  width: 12%;
  z-index:2;
}
.tc-le{
  position: relative;
  z-index: 1;
}
.hc-text
{
  font-size:1em;
  margin-right: auto;
  text-align: right;
  top:0;
}
.hc-tit{
  font-family:Arial;
  font-size:2.5em;
  text-align:center;
}
.hc-sub{
  font-family: Arial;
  font-size:1.5em;
  text-align:center;
}
.ask{
  height:8%;
  width: 6%;
}
.ask-q{
  width: 95%;
  /* margin-top:-3em; */
  margin-left:auto;
}
.hc-tsub{
  font-family:Arial;
  font-size:24px;
  text-align:left;
}
.hc-ts strong{
  font-family:Arial;
  font-size:1.2em;
  padding-bottom: 0;
}
.hc-ts{
  font-family:Arial;
  font-size:1em;
  padding-bottom: 0;
}

.dat{
  width:100%;
  position:relative;
}
.hc-serf{
  border-left: 8px solid #aad063;
  float:left;
  padding-left:25px;
  width:45%;
}
.hc-sert{
  font-family:Arial;
  font-size:1.9em;
}
.hc-ques{
  font-family:Arial;
  font-size:1em;
}
.hc-ques-tex{
  font-family:Arial;
  font-size:1em;
}
.hc-vires{
  font-family:Arial;
  font-size:1em;
}

.hc-tedob{
  font-family:Arial;
  font-size:1em;
}

.hc-seru{
  border-left: 8px solid #aad063;
  float:left;
  padding-left:25px;
  width:45%;
}
.hc-url{
  height:25%;
  width:60%;
}
.hc-pie{
  height:15%;
  width:100%;
}
