.code-window {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  margin: 2em;
  margin-left: 0; /* Agregar esta línea para establecer el margen izquierdo a cero */
  position: relative;
}

.code-header {
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  padding: 1.5em;
}

.copy-button {
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

/* Cambiar el color del fondo del bloque de código */
#codecopi {
  background: #1c1c1c;
  color: #ffffff;
  font-family: monospace;
  margin: 1em 0;
  overflow-x: auto;
  padding: 1em;
  line-height: 1;
  text-align: left; /* Agregar esta línea para centrar horizontalmente el código */
}
/* Cambiar el color del fondo del bloque de código */
#codecopindex {
  background: #1c1c1c;
  color: #ffffff;
  font-family: monospace;
  margin: 1em 0;
  overflow-x: auto;
  padding: 1em;
  line-height: 2;
  text-align: left; /* Agregar esta línea para centrar horizontalmente el código */
}
	/* Cambiar el color de los diferentes tipos de palabras clave */
	#codecopi code .keyword {
		color: #569CD6;
		font-weight: bold;
	}

	/* Cambiar el color de las cadenas de texto */
	#codecopi code .string {
		color: #ce9178;
	}

	/* Cambiar el color de los comentarios */
	#codecopi code .comment {
		color: #6A9955;
		font-style: italic;
	}
  /* estilos para los link dentro de la clase*/
  div.link-api a {
    display: block;
    padding: 10px 0 0 10px;
    text-align: left;
  }

  /* Centramos la tabla en la página */
  .table-container {
    display: flex;
    justify-content: center;
  }
